body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text{
    text-align: start;
    /* border: 1px solid red; */
    width: 100%;
    font-size:large;
    color: gray;

}


.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    color: #2f2d52;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

input,
textarea {
    width: 100%;
    padding: 16px;
    border-radius: 40px;
    border: none;
    background: #fff;
    font-size: 16px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    outline: none;
}

textarea {
    border-radius: 20px;
    height: 150px;
    resize: none;
}

button {
    background: #7c6fff;
    border: none;
    color: white;
    padding: 14px 40px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

button:hover {
    background: #6a59ff;
}